{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Log In{% endblock title %}

{% block content %}
<main>
    <section class="reg">
        <h1>Авторизация</h1>
        <div class="container">
           <form method="POST">
               {% csrf_token %}
               {{form|crispy}}
               <button type="submit">Готово</button>
           </form>
           <a href="{% url 'account_reset_password' %}">Забыли пароль?</a>
       </div>
    </section>
</main>
{% endblock content %}