

    <main>
        <section class="korzina">
            <div class="container">
                <h4>Текущий список покупок :</h4>
                <div class="kor_div_wrap">


                    <!-- Это надо копировать от сюда -->
                    {% for item in cart %}
                    {% with product=item.product  %}
                    <div class="kor_div col-lg-6">
                        <div class="kor_img">
                            <img src="{% if product.image %} {{ product.image.url }} {% endif %}" alt="">
                        </div>
                        <div class="kor_content">
                            <h2>{{product.name}}</h2>
                            <form action="{% url "cart:cart_add" product.id %}" method="post">
                                {% csrf_token %}
                                <span style="display:inline-block">    
                                    {{ item.update_quantity_form.quantity }}
                                    {{ item.update_quantity_form.update }}
                                    <input type="submit" value="Изменить">
                                </span>
                            </form>
                            <div class="button_del">
                                <a class="del" href="{% url "cart:cart_remove" product.id %}">Удалить</a>
                                <a class="see" href="{{ product.get_absolute_url }}">Посмотреть</a>
                            </div>
                            <h4>Цена одного товара : <span class="one_price">{{item.price}}</span></h4>
                            <h4>Цена : <span class="price">{{item.total_price}}</span></h4>
                        </div>
                    </div>
                    {% endwith %}
                    {% endfor %}
                    <!-- До Сюда -->
                    


                </div>
                <div class="total">
                    <h2>Суммарная стоимость : <span class="total_price">{{ cart.get_total_price }}</span></h2>
                </div>

                <div class="zakaz">
                    <a class="continue" href="{% url "shop:category_list" %}">Продолжить покупку</a>
                    <a class="arrange" href="{% url "orders:order_create" %}">Оформить заказ</a>
                </div>
            </div>
        </section>
    </main>

    