version: '3.9'

services:
  web:
    build: .
    command: gunicorn ecommerce.wsgi -b 0.0.0.0:8000 # new
    volumes:
      - .:/code
    ports:
      - 8000:8000
    depends_on:
      - db
    environment:
      - SECRET_KEY=)*_s#exg*#w+#-xt=vu8b010%%a&p@4edwyj0=(nqq90b9a8*n
      - DEBUG=True
      - SECURE_SSL_REDIRECT=False
      - SECURE_HSTS_SECONDS=0
      - SECURE_HSTS_INCLUDE_SUBDOMAINS=False
      - SECURE_HSTS_PRELOAD=False
      - SESSION_COOKIE_SECURE=False
      - CSRF_COOKIE_SECURE=False
  db:
    image: postgres:11
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - "POSTGRES_HOST_AUTH_METHOD=trust"

volumes:
  postgres_data: