{% extends 'base.html' %}
{% load static %}
{% block title %}{{ category.name }}{% endblock title %}

{% block content %}
<main>


    <section class="category_div">
        <h1>{{category.name}}:</h1>
        <div class="container-fluid">
            {% for product in category.products.all %}
            <div class="category_item">
                <img src="{{ product.image.url }}" alt="">
                <p>{{product.name}}</p>
                <h4>{{product.price}}so'm</h4>
                <div class="item_buttons">
                    <a href="{{ product.get_absolute_url }}">Batafsil</a>

                </div>
                <div class="dropdown_div">
                    <form action="{% url "cart:cart_add" product.id %}" method="post">
                        {% csrf_token %}
                        {{ cart_product_form }}
                        <select name="quantity" class="form-control" id="id_quantity">
                            <option value="1">1</option>
                            <option value="2">2</option>
                        </select>
                        <h5>{{product.measurement}}</h5>
                        <input type="hidden" name="update" value="False" id="id_update">
                        <input type="submit" value="xaridga qo'shish">
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>

</main>
{% endblock content %}