{% extends 'base.html' %}
{% load static %}
{% block title %}{{ category.name }}{% endblock title %}

{% block content %}
    <main>


        <section class="category_div">
            <h1>{{category.name}}:</h1>
            <div class="container">
                {% for product in category.products.all %}
                <div class="category_item">
                    <img src="{{ product.image.url }}" alt="">
                    <p>{{product.name}}</p>
                    <h4>{{product.price}}сум</h4>
                    <a href="{{ product.get_absolute_url }}"><img src="{% static 'img/buy-online.png' %}" alt="">Посмотреть</a>
                </div>
                {% endfor %}
            </div>
        </section>

    </main>
{% endblock content %}

    