{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block content %}
    <main>
        <section class="dropdown">
            <div class="container">
                <ul class="menu cf">
                    {% for category in category_list %}
                    <li>
                        <a href="{{ category.get_absolute_url }}">{{category.name}}</a>
                        
                    </li>
                    {% endfor %}

                </ul>
            </div>
        </section>

        <div class="container-fluid">
            <section class="header_slider">
                <div class="owl-carousel slide3 owl-theme">
                    <div class="item"><img src="{% static 'img/1-887.jpg' %}" alt=""></div>
                    <div class="item"><img src="{% static 'img/298_1200x755.jpg' %}" alt=""></div>
                    <div class="item"><img src="img/97368-derevo-nebo-voda-priroda-otrazhenie-1920x1080.jpg" alt=""></div>
                </div>
            </section>
        </div>

        <section class="category">
            <div class="container-fluid">
                <h3>Категории :</h3>
                <div class="owl-carousel slide1 owl-theme owl-loaded">
                    {% for category in category_list %}
                    <div class="item">
                        <a class="category_name" href="{{ category.get_absolute_url }}">
                            <img src="{% if category.cover %}{{category.cover.url}}{% endif %}" alt="">
                            <h4>{{category.name}}</h4>
                        </a>
                    </div>
                    {% endfor %}
                    
                </div>
            </div>
        </section>


        <!-- <section class="new">
            <div class="container">
                <h3>Новые товары :</h3>
                <div class="owl-carousel slide2 owl-theme">
                    {% for product in product_list %}
                    {% if product.was_added_recently %}
                    <div class="item">
                        <img src="{{product.image.url}}" alt="">
                        <p>{{product.name}}</p>
                        <h4>{{product.price}} сум</h4>
                        <div class="item_buttons">
                            <a href="{{ product.get_absolute_url }}">Посмотреть</a>
                            
                        </div>
                     </div>
                     {% endif %}
                     {% endfor %}
                     
                </div>
            </div>
        </section> -->


        {% for category in category_list %}
        <section class="new">
            <div class="container-fluid">
                <h3>{{category.name}}:</h3>
                <div class="owl-carousel slide2 owl-theme">
                    {% for product in category.products.all %}
                    <div class="item">
                        <img src="{% if product.image %}{{product.image.url}}{% endif %}" alt="">
                        <p>{{product.name}}</p>
                        <h4>{{ product.price }} сум</h4>
                        <div class="item_buttons">
                            <a href="{{ product.get_absolute_url }}">Qarang</a>
                        </div>
                        <div class="dropdown_div">
                            <form action="{% url "cart:cart_add" product.id %}" method="post">
                                {% csrf_token %}
                                {{ cart_product_form }}
                                <input type="submit" value="Savatchaga qo'shish">
                            </form>
                        </div>
                    </div>

                    {% endfor %}
                </div>
            </div>
        </section>
        {% endfor %}

        


    </main>
{% endblock content %}

    