{% extends "base.html" %}

{% block content %}
    <div class="order_div container">
        <div class="row" style="margin-top: 6%">
            <div class="col-md-8 col-md-offset-2">
                <h3 class="page-header">Bizni tanlaganingiz uchun raxmat
                </h3>
                <p>Sizning buyurtmangiz qabul qilindi. Buyurtma raqami: <strong>{{ order.id }}</strong>.</p>
            </div>
            <a class="home" href="{% url 'shop:category_list' %}">Uyga qaytish</a>
        </div>
    </div>
{% endblock %}