{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'img/basket.png' %}" />
    <title>{% block title %}E-Xizmat{% endblock title %}</title>

    <!-- ===========ШРИФТЫ================= -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@1,700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
    <!-- =================Ссылки на файлы============= -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <!-- ============================================== -->

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <script defer src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script defer src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script defer src="{% static 'js/script.js' %}"></script>

</head>

<body>
    <header class="header">
        <div class="container">
            <div class="header-overlay">
                <div class="nav-container">

                    <a href="{% url 'shop:category_list' %}" class="logo"><img src="{% static 'img/Слой 1.png' %}" alt=""></a>

                    <!-- НАВИГАЦИЯ -->
                    <div class="nav-wrapper">

                        <!-- Навигация для десктопа -->
                        <div class="poisk">
                            <form action="{% url 'shop:search_results' %}" method="GET">
                                <input name="q" class="write" placeholder="Поиск по товарам" aria-label="Search">
                                <button class="send" type="submit"><img src="{% static 'img/searching-magnifying-glass.png' %}"
                                        alt=""></button>
                            </form>
                            <div class="header_left">

                               

                                <a href="{% url 'cart:cart_detail' %}"><div class="korzina" href="#"><img src="{% static './img/basket.png' %}" alt=""></div></a>
                            </div>
                        </div>

                        <!-- Кнопка для мобильной навигации -->
                        <div id="menu-togle" class="menu-icon">
                            <div class="menu-icon-line"></div>
                        </div>

                        <!-- Мобильная навигация -->
                        <div id="mobile-nav" class="mobile-nav">
                            <div class="mobile-nav__title">Навигация</div>
                            <div class="mob_poisk">
                                
                                <div class="mob_header_left">
                                    <a class="mob_korzina" href="{% url 'cart:cart_detail' %}"><img src="{% static './img/basket.png' %}" alt=""></a>
                                    

                                </div>
                            </div>

                        </div>


                    </div>
                    <!-- // НАВИГАЦИЯ -->

                </div>
            </div>
        </div>
    </header>
    <section class="mob_poisk">
        <div class="container">
            <form action="{% url 'shop:search_results' %}" method="GET">
                <input class="mob_write" placeholder="Поиск по товарам" type="text">
                <button class="mob_send" type="submit"><img src="{% static 'img/searching-magnifying-glass.png' %}"
                        alt=""></button>
            </form>
        </div>
    </section>
    {% block content %}
    
    {% endblock content %}
    
    <section class="info">
        <div class="container">
            <div class="info-div col-lg-4"><img src="{% static 'img/car.png' %}" alt="">
                <h5>Безопасная доставка</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sollicitudin vel mattis dictum magnis.
                    Ac at
                    tristique aenean porta imperdiet eget condimentum.</p>
            </div>
            <div class="info-div col-lg-4"><img src="{% static 'img/crm.png' %}" alt="">
                <h5>Обслуживание Клиентов</h5>
                <p>Вы всегда можете рассчитывать на грамотную консультацию наших специалистов и помощь при выборе
                    товаров.</p>
            </div>
            <div class="info-div col-lg-4"><img src="{% static 'img/like.png' %}" alt="">
                <h5>Качество и Надежность</h5>
                <p>В нашем интернет-магазине представлены только самые качественные товары от ведущих мировых
                    производителей.</p>
            </div>
        </div>
    </section>


</main>


<footer class="">
    <div class="container">
        <div class="bottom_top">
            <div class="wow fadeInLeft left_bottom col-lg-4" data-wow-delay="0.3s">
                <a class="logo" href="#">
                    <img src="{% static 'img/Слой 1.png' %}" alt="">
                </a>
                <p class="bot_p">Поставка компьютерного оборудования для вашей компании: Компьютеры, серверное
                    оборудование, перефирийные устройства, кабели и многое другое.</p>
            </div>
            <div class="wow fadeInLeft center_bottom col-lg-4" data-wow-delay="0.6s">
                <h4>Наш адрес</h4>
                <div class="location">
                    <p class="bot_p">
                        Ташкент, Узбекистан <br>
                        Мирзо-Улугбекский район <br>
                        улица Мирзо Улугбека, 99.
                    </p>
                </div>
                <div class="numb">

                    <p class="bot_p">+998 98 302 32 66 <br> +998 97 740 00 34</p>
                </div>
            </div>
            <div class="wow fadeInLeft right_bottom col-lg-4" data-wow-delay="0.9s">
                <h4>Информация</h4>

                <ul class="bottom_nav">
                    <li><a href="info.html">О компании</a></li>
                    <li><a href="uslugi.html">Услуги</a></li>
                    <li><a href="partner.html">Партнеры</a></li>
                    <li><a href="contact.html">Контакты</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- ============================================== -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
    integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
    crossorigin="anonymous"></script>
</body>

</html>