{% extends 'base.html' %}
{% load static %}
{% block title %}Category List{% endblock title %}

{% block content %}

    <main>
        <section class="mob_poisk">
            <div class="container">
                <form action="" method="GET">
                    <input class="mob_write" placeholder="Поиск по товарам" type="text">
                    <button class="mob_send" type="submit"><img src="img/searching-magnifying-glass.png"
                            alt=""></button>
                </form>
            </div>

        </section>



        <section class="all_categories">
            <div class="container-fluid">
                <div class="category_wrap">
                    {% for category in category_list %}
                    <div class="full">
                        <a href="{{ category.get_absolute_url }}">
                            <h4 class="full_text">{{ category.name }}</h4>
                        </a>
                    </div>
                    {% endfor %}
                    
                </div>
        </section>


    </main>
{% endblock content %}