{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block content %}

    <main>
        <section class="mob_poisk">
            <div class="container">
                <form action="" method="GET">
                    <input class="mob_write" placeholder="Поиск по товарам" type="text">
                    <button class="mob_send" type="submit"><img src="img/searching-magnifying-glass.png"
                            alt=""></button>
                </form>
            </div>

        </section>



        <section class="all_categories">
            <div class="container-fluid">
                <div class="category_wrap">
                    <div class="full">
                        <a href="#">
                            <h4 class="full_text">Машины</h4>
                        </a>
                    </div>
                    <div class="full">
                        <a href="#">
                            <h4 class="full_text">Машины</h4>
                        </a>
                    </div>
                    <div class="full">
                        <a href="#">
                            <h4 class="full_text">Машины</h4>
                        </a>
                    </div>
                    <div class="full">
                        <a href="#">
                            <h4 class="full_text">Машины</h4>
                        </a>
                    </div>
                    <div class="full">
                        <a href="#">
                            <h4 class="full_text">Машины</h4>
                        </a>
                    </div>
                    <div class="full">
                        <a href="#">
                            <h4 class="full_text">Машины</h4>
                        </a>
                    </div>
                </div>
        </section>

        <section class="category">
            <div class="container-fluid">
                <h3>Категории :</h3>
                <div class="owl-carousel slide1 owl-theme owl-loaded">
                    <div class="item">
                        <a class="category_name" href="#">
                            <img src="img/lg-mw07.jpg" alt="">
                            <h4>Бытовая Техника</h4>
                        </a>
                    </div>
                    <div class="item">
                        <a class="category_name" href="#">
                            <img src="img/Grunhelm_20MX701-B.jpg" alt="">
                            <h4>Техника для кухни</h4>
                        </a>
                    </div>
                    <div class="item">
                        <a class="category_name" href="#">
                            <img src="img/lg-mw07.jpg" alt="">
                            <h4>Техника для кухни</h4>
                        </a>
                    </div>
                    <div class="item">
                        <a class="category_name" href="#">
                            <img src="img/lg-mw07.jpg" alt="">
                            <h4>Техника для кухни</h4>
                        </a>
                    </div>
                    <div class="item">
                        <a class="category_name" href="#">
                            <img src="img/lg-mw07.jpg" alt="">
                            <h4>Техника для кухни</h4>
                        </a>
                    </div>
                    <div class="item">
                        <a class="category_name" href="#">
                            <img src="img/lg-mw07.jpg" alt="">
                            <h4>Техника для кухни</h4>
                        </a>
                    </div>
                    <div class="item">
                        <a class="category_name" href="#">
                            <img src="img/lg-mw07.jpg" alt="">
                            <h4>Техника для кухни</h4>
                        </a>
                    </div>
                    <div class="item">
                        <a class="category_name" href="#">
                            <img src="img/lg-mw07.jpg" alt="">
                            <h4>Техника для кухни</h4>
                        </a>
                    </div>
                </div>
            </div>
        </section>

    </main>
{% endblock content %}